.navbar {
  display: flex;
  flex-direction: column;
  .nav-group {
    list-style: none;
    display: flex;
    a {
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
