.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100vh;
  justify-content: space-around;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
